<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
    <title>ASK IT</title>
</head>

<body class="bg-neutral-100">
    <form method="post" class="w-1/2 h-screen mx-auto border-x-2 max-w-md max-sm:w-full max-md:w-2/3">
        <div class="flex flex-col p-2 h-full max-w-md bg-white justify-center">
            <div class="absolute top-2 w-1/2 translate-x-[-10px]  max-w-md max-sm:w-full max-md:w-2/3">
                <img src="{{ url_for('static', filename='Brand_Assets/LOGO.png') }}"
                    class="w-8 my-auto h-8 mx-auto object-cover cursor-pointer" onclick="location.href='/'">
            </div>

            <p class=" text-2xl tracking-wide text-black font-bold mb-4">SIGN UP</p>


            {% for field in form.errors %}
            {% for error in form.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong> {{error}}
            </div>
            {% endfor %}
            {% endfor %}

            {{ form.csrf_token }}
            {{ form.username(class='br-400 bg-neutral-100 p-2 mb-2') }}
            {{ form.email(class='br-400 bg-neutral-100 p-2 mb-2') }}
            {{ form.password(class='br-400 bg-neutral-100 p-2 mb-2') }}
            {{ form.confirm(class='br-400 bg-neutral-100 p-2 mb-4') }}
            {{ form.submit(class='br-400 bg-primary-400 text-secondary-100 p-2 bg-blue-950 text-white font-semibold
            cursor-pointer') }}
            <p class="text-gray-400 mt-4 text-center">Have an account? <a href="/signin"
                    class="underline text-blue-600 hover:text-blue-800 "> sign in</a> </p>
        </div>
    </form>
    </div>
</body>

</html>