{% extends "layout.html" %}
{% block content %}


<div class=" px-2 pt-2 grid grid-cols-[auto_18rem] gap-x-2 z-1  max-md:flex max-md:flex-col-reverse h-full">
    <!-- nav for home -->
    <div>
        <div class="grid grid-cols-[auto_1fr_auto] w-full mb-6 h-8 items-center">
            <p class="text-black font-bold text-xl">Posts</p>
            <div class="border-t-2 mx-2">

            </div>

            {# filters #}
            <div class="flex justify-center items-center">
                <p class="text-gray-400 mr-2 items-center">Order by</p>
                <select id="order" class="bg-neutral-100 p-1 my-auto">
                    <option value='["desc","date"]' selected>newest</option>
                    <option value='["asc","date"]'>oldest</option>
                    <option value='["desc","viewed"]'>most viewed</option>
                    <option value='["asc","viewed"]'>least viewed</option>
                </select>
            </div>
        </div>

        <div>

            <!-- template schema, hidden from the dom -->
            <div id="scroller" class="mb-3">
                <template id="question">
                    <div class="min-h-[20rem] border-b-2 mb-4">

                        <p> <a id="question_title"
                                class="text-3xl tracking-wide text-black font-bold hover:cursor-pointer"></a>
                            <span id="question_subject" class="text-gray-400 font-medium"></span>
                        </p>

                        <div class="flex mb-2">
                            <p class="text-gray-400 mr-4">Asked by <a
                                    class="underline text-blue-600 hover:text-blue-800" id="question_user"></a></p>
                            <p class="text-gray-400 mr-4">Asked on <span class="text-black"
                                    id="question_date_posted"></span></p>
                            <p class="text-gray-400 mr-4">Views <span class="text-black" id="question_views"></span>
                            </p>
                            <p class="text-gray-400 mr-4">Saved by <span class="text-black" id="question_saves"></span>
                            </p>

                        </div>
                        <p class="question_body block mb-2 w-full whitespace-normal [&>*]:whitespace-normal	max-w-[100vw] "
                            id="question_body" style="overflow-wrap: anywhere">
                        </p>


                    </div>
                </template>
            </div>

            <div class="flex justify-center align-middle pb-3" id="sentinel">

                <p>loading...</p>

            </div>
        </div>



    </div>
    <!-- body of home -->
    <div class="relative mb-6">
        <div class=" bg-neutral-100 sticky top-16 items-center px-2 pb-6">

            {# following subject #}
            <p class="text-black font-bold text-xl h-8 ">{{subject.name}} {%if current_user.is_authenticated%} {%if
                subject in current_user.subjects%} <span
                    class="text-gray-400 mr-2 font-normal text-base mb-4">following</span> {%endif%} {%endif%}</p>
            {% if current_user.is_authenticated%}
            {%if subject in current_user.subjects%}
            <button class="p-2 px-4 bg-blue-950 text-white font-semibold w-full"
                onclick="location.href='/follow_subject/{{subject.id}}'">Unfollow</button>
            {%else%}
            <button class="p-2 px-4 bg-blue-950 text-white font-semibold w-full"
                onclick="location.href='/follow_subject/{{subject.id}}'">Follow</button>
            {%endif%}
            {%endif%}
            <p class="mt-2">{{subject.description}}</p>


        </div>

    </div>

</div>



</div>

<script>
    let subject_id = "{{subject.id}}"
</script>
<script src="/static/js/subject.js">
</script>
{% endblock %}