<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>ASK IT</title>
</head>

<body>

    <nav class="home-nav nav bg-neutral-100 ">
        <div class="home-nav-elements-wrapper">
            <h1 class="home-nav-element home-nav-form-title">ASK IT</h1>
            <form class="br-400 home-nav-element home-nav-form-search-wrapper" action="">
                <input type="text" name="" id="" class="home-nav-form-search">
                <span class="material-symbols-outlined">
                    search
                </span>
            </form>

            <button class="br-400 home-nav-element home-nav-new"><span
                    class="material-symbols-outlined">add</span></button>
            <button class="br-900 home-nav-element home-nav-user-profile"
                style="background-image: url(../static/profile_example.jpeg);"></button>
        </div>

    </nav>
    <div class="bg-neutral-200 home-body-wrapper">

        <div class="home-body-sidenav">
            <div>
                <p class="home-body-subjectnav-title fw-bold fs-500">TOPICS</p>
                <div class="home-body-subjectnav-topicwrapper">
                    <a href="/science" class="home-body-subjectnav-topic fs-300 br-400 text-primary-400 ">science</a>
                    <a href="/mathematics"
                        class="home-body-subjectnav-topic fs-300 br-400 text-primary-400 ">mathematics</a>
                    <a href="/physics" class="home-body-subjectnav-topic fs-300 br-400 text-primary-400 ">physics</a>
                </div>

                <hr>
                <div class="home-body-subjectnav-links">
                    <a href="">About</a> <span>|</span> <a href="">Content</a>
                    <span>| </span> <a href="">Moderation</a>
                    <span>| </span><a href="">Terms and conditions</a> <span>| </span><a href="">Privacy</a>
                </div>
            </div>
        </div>
        <div class="home-body-body ">
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>
            <div class="bg-neutral-100"> </div>

        </div>

    </div>

</body>

</html>